/* Reset เบา ๆ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.9);
}

body {
  height: 100vh;     
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#welcome-container, #center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px; 
  text-align: center;
}

.welcome-container h1 {
  font-size: 20vw;
  line-height: 1;
  color: #fff;
  font-weight: 900;
}

.welcome-text {
  text-decoration: none;
  color: #fff;
  font-size: 1.2vw;
  cursor: pointer;
  transition: 0.3s;
}
.welcome-text:hover {
  color: rgba(255, 69, 0);
}

@media screen and (max-width: 768px) {
  .welcome-container h1 { font-size: 22vw; color: rgb(239, 92, 39); }
  .welcome-text { font-size: 3vw; }
}

@media screen and (max-width: 480px) {
  .welcome-container h1 { font-size: 22vw; color: rgb(239, 92, 39); }
  .welcome-text { font-size: 3vw; }
}

/* Loader */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation: l20-1 0.8s infinite linear alternate,
             l20-2 1.6s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  z-index: 9999;
}

.popup-content {
  width: 340px;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  animation: fadeIn 0.3s ease-out;
  box-shadow: 0 8px 25px rgba(46, 9, 58, 0.381);
  background: linear-gradient(to bottom, rgba(233, 109, 52, 0.912)45%, #ffffff 45%);
  padding-bottom: 25px;
}

/* ไอคอนเตือน */
.warning-icon {
  font-size: 40px;
  color: #fff;
  margin-top: 25px;
}

/* หัวข้อ Warning */
.popup-title {
  font-size: 30px;
  font-weight: 700;
  color: rgb(46, 9, 58);
  margin-top: 18px;
}

/* ข้อความอธิบาย */
.popup-text {
  font-size: 14px;
  color: rgb(46, 9, 58);
  margin: 8px 25px 25px;
}

/* ปุ่ม CLOSE */
.btn-close {
  background: rgba(233, 109, 52, 0.912);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 40px;
  cursor: pointer;
  transition: 0.2s;
}
.btn-close:hover {
  background: rgba(233, 109, 52, 0.912);
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
@keyframes l20-1{
  0%    {clip-path: polygon(50% 50%,0 0,50% 0,50% 0,50% 0,50% 0,50% 0)}
  12.5% {clip-path: polygon(50% 50%,0 0,50% 0,100% 0,100% 0,100% 0,100% 0)}
  25%   {clip-path: polygon(50% 50%,0 0,50% 0,100% 0,100% 100%,100% 100%,100% 100%)}
  50%   {clip-path: polygon(50% 50%,0 0,50% 0,100% 0,100% 100%,50% 100%,0 100%)}
  62.5% {clip-path: polygon(50% 50%,100% 0,100% 0,100% 0,100% 100%,50% 100%,0 100%)}
  75%   {clip-path: polygon(50% 50%,100% 100%,100% 100%,100% 100%,100% 100%,50% 100%,0 100%)}
  100%  {clip-path: polygon(50% 50%,50% 100%,50% 100%,50% 100%,50% 100%,50% 100%,0 100%)}
}
@keyframes l20-2{
  0%    {transform: scaleY(1) rotate(0deg)}
  49.99%{transform: scaleY(1) rotate(135deg)}
  50%   {transform: scaleY(-1) rotate(0deg)}
  100%  {transform: scaleY(-1) rotate(-135deg)}
}

#retryBtn {
  padding: 10px 20px;
  background-color: #514b82;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
#retryBtn:hover { background-color: #413770; }

.warning-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.icon-error {
  width: 60px;
  height: 60px;
}

/* วงกลมพื้นหลังสีแดง */
.icon-error .circle-bg {
  fill: #ffffff;
}

/* เส้น ! สีขาว */
.icon-error .line {
  stroke: rgba(233, 109, 52, 0.912);
  stroke-width: 2;
  stroke-linecap: round;
}

/* จุดด้านล่างของ ! */
.icon-error .dot {
  fill: rgba(233, 109, 52, 0.912);
}